DBClientProject/Connected Services/RadarDB/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRadar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Radar" nillable="true" type="tns:Radar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRadar" nillable="true" type="tns:ArrayOfRadar" />
  <xs:complexType name="Radar">
    <xs:sequence>
      <xs:element minOccurs="0" name="DopuszczlnaPredkosc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Kierunek" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wlasciciel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Y" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Radar" nillable="true" type="tns:Radar" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentEditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditGranted" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>