DBClientProject/Connected Services/RadarDB/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DBService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBService" />
  <xs:element name="GetRadarList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameFilter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadarListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="GetRadarListResult" nillable="true" type="q1:ArrayOfRadar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="GetEditTokenResult" nillable="true" type="q2:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRadar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="radar" nillable="true" type="q3:Radar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRadarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRadarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>